.portfolio .portfolio-heading {
   flex: 0 0 100%;
   max-width: 100%;
   margin-bottom: 40px;
}
.portfolio .portfolio-heading h2 {
   color: var(--text-black-900);
   font-weight: 500;
}
.portfolio .portfolio-item {
   flex: 0 0 50%;
   max-width: 50%;
   margin-bottom: 30px;
}
.portfolio .portfolio-item-inner {
   border: 6px solid var(--bg-black-100);
   border-radius: 10px;
   overflow: hidden;
   cursor: pointer;
}
.portfolio .portfolio-item-inner .portfolio-img .img {
   width: 100%;
   height: 340px;
   display: block;
}
 
