@media (max-width: 1199px) {
   .section .container {
      padding-top: 70px;
   }
   .aside {
      left: -270px;
   }
   .aside.open {
      left: 0;
   }
   .section {
      left: 0;
   }
   .aside .nav-toggler {
      display: flex;
      left: 30px;
   }
   .aside .nav-toggler.open {
      left: 300px;
   }
   .about .about-content .personal-info .info-item p span {
      display: block;
      margin-left: 0;
   }
}
@media (max-width: 991px) {
   .portfolio .portfolio-item-inner .portfolio-img .img {
      height: 240px !important;
   }
   .contact .contact-info-item,
   .service .service-item {
      flex: 0 0 50% !important;
      max-width: 50% !important;
   }
   .service .service-item .service-item-inner {
      min-height: 350px !important;
   }
   .home .home-info {
      flex: 0 0 100% !important;
      max-width: 100% !important;
   }
   .home .home-img {
      display: none;
   }

}
@media (max-width: 767px) {
   .contact .contact-form .col-6,
   .contact .contact-info-item,
   .portfolio .portfolio-item,
   .service .service-item,
   .about .about-content .education,
   .about .about-content .experience,
   .about .about-content .skills,
   .about .about-content .personal-info {
      flex: 0 0 100% !important;
      max-width: 100% !important;
   }
   .portfolio .portfolio-item-inner .portfolio-img .img {
      height: 300px !important;
   }
   .service .service-item .service-item-inner {
      min-height: 300px !important;
   }
   .home .home-info,
   .contact .contact-form .form-item {
      text-align: center;
   }
}