.home {
    min-height: 100vh;
    display:flex;
    color: var(--text-black-900);
}
.home .home-info {
    flex: 0 0 60%;
    max-width: 60%;
}
.home .home-img {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}
.home .home-img::after {
   content: '';
   position: absolute;
   height: 80px;
   width: 80px;
   border-bottom: 10px solid var(--skin-color);
   border-right: 10px solid var(--skin-color);
   right: 20px;
   bottom: -40px;
}
.home .home-img::before {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    left: 20px;
    top: -40px;
}
.home .home-img .img {
   margin: auto;
   border-radius: 5px;
}
h3.hello {
    font-size: 28px;
    margin: 15px 0;
}
h3.hello span {
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}
h3.my-profession {
    font-size: 30px;
    margin: 15px 0;
}
.typing {
    color: var(--skin-color);
}
.home-info p {
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}
